 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 483px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 76px 328px 0 329px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 570px 0 392px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -55px 570px 0 392px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -2px 369px 0 593px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -55px 369px 0 593px;
}

.u-section-1 .u-image-1 {
  width: 105px;
  height: 105px;
  margin: 30px 607px 0 429px;
}

.u-section-1 .u-image-2 {
  width: 105px;
  height: 105px;
  margin: -105px 405px 0 630px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 694px 0 268px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -55px 694px 0 268px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -2px 224px 0 697px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -55px 224px 0 695px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 178px;
  margin: -2px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 178px;
  margin: -55px auto 0;
}

.u-section-1 .u-image-3 {
  width: 105px;
  height: 105px;
  margin: 26px auto 0 519px;
}

.u-section-1 .u-image-4 {
  width: 105px;
  height: 105px;
  margin: -105px 730px 0 305px;
}

.u-section-1 .u-image-5 {
  width: 105px;
  height: 105px;
  margin: -104px 281px 0 754px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 178px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 178px;
  margin: -55px auto 0;
}

.u-section-1 .u-image-6 {
  width: 105px;
  height: 105px;
  margin: 28px 518px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 483px;
    margin-right: 228px;
    margin-left: 229px;
  }

  .u-section-1 .u-text-3 {
    width: 178px;
    margin-right: 470px;
    margin-left: 292px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 470px;
    margin-left: 292px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 269px;
    margin-left: 493px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 269px;
    margin-left: 493px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 507px;
    margin-left: 329px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 305px;
    margin-left: 530px;
  }

  .u-section-1 .u-text-7 {
    width: 178px;
    margin-right: 594px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-8 {
    width: 178px;
    margin-right: 594px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 124px;
    margin-left: 597px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 124px;
    margin-left: 595px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -3px;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -104px;
    margin-right: 630px;
    margin-left: 205px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 175px;
    margin-left: 654px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 418px;
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 118px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 360px;
    margin-left: 182px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 360px;
    margin-left: 182px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 159px;
    margin-left: 383px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 159px;
    margin-left: 383px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 397px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 195px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 484px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 484px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 14px;
    margin-left: 487px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 14px;
    margin-left: 485px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -51px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 22px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 520px;
    margin-left: 95px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 65px;
    margin-left: 544px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 308px;
    margin-right: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 270px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 270px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 69px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 69px;
    margin-left: 293px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 307px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 105px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 362px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 321px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 319px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 272px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 272px;
    margin-left: 91px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 345px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 430px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 435px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 218px;
    margin-right: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 162px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 162px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 207px;
    margin-left: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 5px;
    margin-left: 230px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 162px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 162px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 122px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 122px;
    margin-left: 41px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 195px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 235px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -104px;
    margin-left: 235px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 118px;
    margin-right: 118px;
  }
}